body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container img {
    max-width: 90%;
    max-height: 90vh;
    border-radius: 10px;
}
